<% title "Reset your password" %>

<% form_tag "/password_resets", :method => :post do %>
<fieldset>
  <legend>
    Enter your email to reset your password.
  </legend>
<table>
  <tr>
    <td><label>Email</label></td>
    <td><%= text_field_tag :email %></td>
  </tr>
</table>
</fieldset>
<%= submit_tag "Submit" %>
<% end %>