<% title "Frequently Asked Questions" %>

<ol>
  <li><h3><a href="#how-can-i-change-a-scheduled-delivery">How can I change a scheduled delivery?</a></h3></li>
  <li><h3><a href="#how-can-i-change-my-password">How can I change my password?</a></h3></li>
</ol>

<hr />

<div style="margin-left: 1.5em;">
  <h1 id="#how-can-i-change-my-password">
    How can I change my password?
  </h1>
  <p>Click on the '<%= link_to 'My Account', user_path(@current_user) %>' link, click the 'change password' link and enter and re-enter your new password and save.</p>
</div>

<div style="margin-left: 1.5em;">
  <h1 id="#how-can-i-change-a-scheduled-delivery">
    How can I change a scheduled delivery?
  </h1>
  <p>Click on the '<%= link_to 'My Deliveries', deliveries_path %>' tab and click the pencil icon next to the delivery you would like to change. <strong>NOTE:</strong> You can <strong>NOT</strong> modify an order once we begin filling it.</p>
</div>