<% title "Faqs" %>

<ol>
  <li><a href="#how-can-i-change-my-password">How can I change my password?</a></li>
</ol>

<div>
  <h1 id="#how-can-i-change-my-password">
    How can I change my password?
  </h1>
  <p>Step 1. Click on the 'My Account' link, enter and re-enter your new password and save.</p>
</div>