<div class="clockin_form">
  <h2>Clock In</h2>
  <p>Clock in with your Employee ID.</p>
  <% form_remote_tag :url => {:controller => "clockin_times", :action => "create"} do %>
    <div id="clockin_response" class="message"></div>
    <%= icon "clock--arrow" %> <%= text_field_tag :employee_id, :clockin_id, :value => "", :class => "large", :size => 5 %><br />
    <%= submit_tag "Clock In" %>
  <% end %>
</div>