<div class="clockin_form">
  <h2>Clock In</h2>
  <p>Clock in with your Employee ID.</p>
  <% form_remote_tag :url => {:controller => "clockin_times", :action => "create"} do %>
    <%= icon "clock-arrow" %> <%= text_field_tag :employee_id, :clockin_id, :value => "", :class => "large", :size => 5 %> 
    <%= image_submit_tag "buttons/default/button-clockin.png", :style => "vertical-align: middle;" %>
  <% end %>
  <div id="clockin_response" style="display: none;"></div>
  <a id="clockin_notification" href="#clockin_response" rel="ibox&amp;width=300&amp;height=180">&nbsp;</a>
</div>