<% title "Employees" %>

<table>
  <thead>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Dob</th>
    <th>Driver</th>
    <th>Phone</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody id="employees">
    <%= render "employee_list" %>
  </tbody>
</table>

<%= more_paginate @employees %>

<% content_for :sidebar do %>
  <%= button "Add Employee", new_employee_path %>
<% end %>


<script type="text/javascript" charset="utf-8">
  paginate("#employees");
</script>