<% title "New Employee" %>

<%= render :partial => 'form' %>

<p><%= link_to "Back to List", employees_path %></p>

  <% content_for :sidebar do %>
    <h1>New Employee</h1>
    <ul>
      <li><strong>Positions</strong></li>
      <% Position.all.each do |position| %>
        <li><%= position.name %></li>
      <% end %>
      <li><%= link_to "Add Position", new_position_path %></li>
    </ul>
  <% end %>
