- title "Admin / Deliveries / Edit ##{@delivery.id}"

- content_for :toolbar do 
  = render :partial => "search"

= render :partial => 'form'

:javascript
  document.observe("dom:loaded", function(){
    $$('input.quantity')[0].activate()
  })

- content_for :sidebar do 
  %div{ :class => "side content"} 
    = render :partial => "presets"

