%h1 
  SMS Alerts

%iframe{:style => "height: 300px; border: none;", 
  :frameborder => "0", :allowtransparency => "true",
  :id => "zeep_mobile_settings_panel",
  :src => "https://www.zeepmobile.com/subscription/settings?api_key=#{Zeep::Base.api_key}&user_id=#{@current_user.id}"}
