<div style="padding: 1em; background: #eee;">
<p>A new Employee has been created. Here are the details.</p>
<ul>
  <li>Firstname: <%= @employee.firstname %></li>
  <li>Lastname: <%= @employee.lastname %></li>
  <li>Birthday: <%= @employee.dob %></li>
  <li>Clockin ID: <%= @employee.clockin_id %></li>
</ul>

</div>