<div style="padding: 1em; background: #eee;">
<p>Dear <%= @user.username %>,

Here is your new password: <%= @user.password %>.
You can login at <a href="http://www.katiesdaylightdonuts.com/login">http://www.katiesdaylightdonuts.com/login</a></p>
</div>