<div style="padding: 1em; background: #eee;">
<p>Dear <%= @user.username %>,
  You have requested to change your password. 
  Please follow the link to complete this process.
  <a href="<%= edit_password_reset_url(@user.perishable_token, :host => current_host) %>">Reset Password</a>
</p>