<div style="background-color: #192456; padding: 1em;">
  <h1><a href="http://www.katiesdaylightdonuts.com"><img src="http://www.katiesdaylightdonuts.com/images/logo.png" style="border: none;" /></a></h1>
  <div style="background-color: #fff; padding: 0.5em;">
    <p style="color: #000; font-family: Helvetica;">Welcome to Katies Daylight Donuts Online Ordering System. Your account <stromg><%= @user.username %></strong> has been created and is ready for you to begin using. Please <a href="<%= edit_password_reset_url(@user.perishable_token, :host => current_host) %>">click here</a> to set your password and begin placing online orders.</p>
      
      <h1>Benefits of placing orders online</h1>
      <p>
        Placing orders online allow you to easily review and make changes to your delivery accurately and efficiently. 
      </p>
  </div>
</div>