/*@import url("blueprint/screen.css");*/
@import url("blueprint/src/grid.css");

/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

body {
  background: url("../images/background-tile.png") repeat-x #fffcd7 top left;
  font-family: helvetica, arial, sans-serif;
  font-size: 80%;
}


h1,h2{
  font-size: 19px;
  font-weight: bold;
}

a img {
  border: none;
}

a {
  /*color: #19232E;*/
  color: #164DB5;
}

p{
  margin: 0.2em 0;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#logo{
  margin: 1em;
}

#flash_notice, #flash_error {
  display: block;
  padding: 5px 8px;
  margin: 10px;
}

#flash_notice {
  background: url("../images/icons/default/plus-shield.png") no-repeat #CFC 0.5% 50%;
  background-position: auto left;
  padding: 0.5em 0 0 2em;
  border: 1px solid green;
}

#flash_error, #flash_warning{
  border: 1px solid #FC4D53;
  background: url("../images/icons/default/minus-shield.png") no-repeat  0.5% 50% #FFD9D9;
  padding: 0.5em 0 0.5em 2em;
}

.top_nav{
  text-align: right;
}

.top_nav ul li{
  padding: 0.1em 0.4em;
  display: inline;
}

.top_nav ul li a{
  color: #fff;
  text-decoration: none;
}

.top_nav ul li a:hover, .top_nav ul li.current a{
  color: #E3EC09;
  text-decoration: none;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

ul,ol{
  margin: 0;
  padding: 0;
}

ol li{
  margin-left: 1.4em;
}

ul li{
  padding-left: 1px;
  list-style: none;
}

ul#nav,ul#links li{
  display: inline;
}

ul#nav{
  float: right;
}

ul#links li{
  padding: 0.4em 0.5em;
}

ul#links li.current{
  font-weight: bold;
  background: #e4e1dd;
}

ul#links li.current a{
  color: #000;
}

ul#links li a{
  color: #fff;
  text-decoration: none;
}

ul.inline li{
  display: inline;
}

div#sidebar{
  padding: 0.5em;
  margin: 1em;
  background: #e4e1dd;
}

div#sidebar h2, div#sidebar ul li, div#sidebar ol li{
  font-size: 12px;
} 

div#sidebar h2{
  font-size: 11pt;
  color: #757575;
  border-bottom: 1px solid #757575;
}

#inner{
  padding: 0.5em;
  margin: 1em;
}

.backdrop{
  background: white;
  margin-bottom: 220px;
}

.header{
  background: #e4e1dd;
  border-bottom: 1px solid #7B7B7B;
}

.header h1{
  font-size: 128%;
  padding: 1em 1.5em;
}

li.strikeout span{
  text-decoration: line-through;
}

li.strikeout span.label,.label{
  text-decoration: none;
  font-weight: bold;
  background: #02BD2C;
  color: #fff;
  padding: 2px;
}

ul.addresses li,ol.addresses li{
  margin: 1em;
}

.toolbar{
  text-align: right;
  font-size: 12px;
  height: 2em;
  margin: 0.5em 0; 
  padding: 1.2em 0.5em 0 1em;
}

.toolbutton{
  padding: 0.3em;
  text-decoration: none;
  background: #3F3F3F;
  color: #fff;
}

table{ width: 100%; }
table tr th{ font-weight: bold; padding: 0.1em 0.5em; background: #e4e1dd; border-bottom: 1px solid #7B7B7B; }
table tr td{
  padding: 0.1em 0.5em;
}

p.grey-box{
  padding: 0.5em;
  font-style: italic;
  color: #818181;
  background: #DBDBDB;
}

/* Button */

p.button{
  background: url("../images/buttons/default/button-bg.png") no-repeat;
  display: block;
  padding: 5px 0 6px 30px;
}

a.button{
  display: block;
  text-decoration: none;
  font-weight: bold;
}

h2.date{
  padding: 0.5em;
  border: 1px solid #B0B0B0;
  background: #F2D5C9;
}

.large{
  font-size: 16px;
  font-weight: bold;
}

/* message */

.message{
  font-size: 12px;
  font-style: italic;
  border: 1px solid #aaa;
  padding: 0.2em;
  margin: 0.5em 0;
  background: #fff;
}

/* icon */

img.icon{
  padding: 2px;
  vertical-align: bottom;
}

li.sidebar{
  border: 1px solid #aaa; 
  padding: 0.5em; 
  margin: 0.8em 0;
}

input.price{
  text-align: right;
}

label.with-icon{
  margin-left: 24px;
}

.debug{
  border: 1px solid red;
}

li.username{
  color: #fff ;
}

div.metric{
  border: 1px solid #aaa;
  padding: 0.4em;
  margin: 0.5em;
}

div.metric h1{
  background: #D4D4D4;
  padding: 5px;
}

div.metric h1 img{
  vertical-align: middle;
}

div.tip{
  padding: 1em;
  background: #F0FCBA;
}

td.line{
  padding: 0.5em;
  border-bottom: 1px solid #C0C0C0;
}

form#login_form{
  margin: 0 auto;
  padding: 3em 0 0 1em;
  background: url("../images/login-bg.png") no-repeat;
  height: 200px;
  width: 300px;
}

form#login_form input{
  font-size: 14px;
}

form fieldset{
  padding: 5px;
  border: 2px solid #D5D5D5;
  width: 90%;
  margin: 0 0.5em;
}

form fieldset p label{
  font-weight: bold;
  color: #979797;
}

input.large{
  font-size: 14pt;
}

/* Errors */

#flash_error, #flash_warning, #flash_notice{
  font-weight: bold;
}

#flash_error, #flash_warning{
  color: red;
}

#flash_notice{
  color: green;
}

li.store_list_item{
  height: 30px;
  padding: 0.4em;
  margin: 0.2em 0;
  border: 1px solid #C8C8C8;
}

div.handle{
  cursor: row-resize;
}

div.store-balance{
  color: #36A33D;
  font-weight: bold;
  font-size: 14pt;
}

.calendar {
  margin: auto; 
}

.calendar thead tr th{
  text-align: center;
}
  
.specialDay{
  text-align: center;
  color: #fff;
  font-weight: bold;
  background: #7E7E7E;
}

.specialDay a{
  color: #fff;
}
.monthName th {
  font-weight: normal;
  text-align: right;
  padding-top: 1em;
  padding-bottom: 0.7em; }

.dayName th {
  text-align: center;
  font-size: 0.7em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  background-color: #303030;
  color: white; }

.otherMonth {
  padding: 0.7em 1em;
  border-right: 1px solid white;
  color: #eeeeee; }

.day {
  padding: 0.7em 1em;
  border-right: 1px solid white; }

.day_with_event {
  padding: 0.7em 1em;
  border-right: 1px solid white;
  text-align: center;
  border-bottom: 1px dotted #bbbbbb; }
  .day_with_event a:visited, .day_with_event a:hover {
    color: black;
    text-decoration: none;
    padding: 1em; }

.today,.today a{
  background: #008807;
  color: #fff;
}

.weekend {
  background-color: #eeeeee; }

.day {
  text-align: center;
  border-bottom: 1px dotted #bbbbbb; }

.day_with_event {
background-color: #d10a21; }
.day_with_event a {
color: black;
text-decoration: none;
padding: 1em; }
.day_with_event a:hover {
color: white;
background-color: black; }

.current_weekday{
  color: #068224;
}

.overlay {
background-color: rgb(0, 0, 0);
opacity: 0.7; /* Safari, Opera */
-moz-opacity:0.70; /* FireFox */
filter: alpha(opacity=70); /* IE */
z-index: 20;
height: 100%;
width: 100%;
background-repeat:repeat;
position:fixed;
top: 0px;
left: 0px;
}

textarea{
  padding: 0.2em;
  font-family: "Helvetica", Verdana, sans-serif;
}

ol.help{
  margin: 0 0 0 2em;
}

.fb_connect_button img{
  vertical-align: middle;
}

span.fb_pic img{
  vertical-align: top;
}

.progressbar{
  position: fixed; 
  top: 200px;
  left: 350px;
  margin: 0 auto; 
  width: 220px;  
  background: white;
  padding: 1em;
}

.opaque{
  opacity: 1; /* Safari, Opera */
  -moz-opacity: 1; /* FireFox */
  filter: alpha(opacity=100); /* IE */
  z-index: 30;
}

h1.hint{
  background: url(/images/icons/default/information.png) no-repeat 0% 50%;
  padding-left: 20px;
}

input[type=button].button{
  cursor: pointer !important;
  background: url(/images/buttons/default/button-bg.png) no-repeat top left;
  border: none;
  width: 226px;
  height: 30px;
  text-indent: 2em;
  text-align: left;
  color: #164DB5;
  font-family: helvetica, arial, sans-serif;
  font-size: 105%;
  font-weight: bold;
}

.current_day{
  color: #fff;
  background: #000;
  display: block;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
}

ul#routes{
  border: 1px solid #aaa;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  background: #fff;
}

ul#routes li{
  float: left;
  text-align: center;
  width: 150px;
  height: 100px;
  border: 2px dashed #aaa;
  padding: 0.2em;
  margin: 1em;
}
ul#routes li h1{
  margin-top: 0.2em;
}