<% @date = Time.zone.now unless defined?(@date) %>
<div id="schedule">
  <%= calendar(:year => @date.year, :previous_month_text => pre, :month  => @date.month, :next_month_text => nex) do |d| 
  [link_to(d.mday, schedules_path(:date => d), :class => (@date.mday == d.mday) ? "current_day" : "")]# if d.mday >= Time.zone.now.day
  end %>
</div>