<h2>Delivery Presets</h2>
<p>You can select a delivery preset to autoload the values into this form. Select a customer from the drop down and a list of previous delivery dates will be listed below.</p>
<ul id="presets">
</ul>