<% title "Edit Delivery ##{@delivery.id}" %>


<% content_for :toolbar do %>
  <%= render :partial => "fetch_form" %>
<% end %>

<%= render :partial => 'form' %>

<% content_for :sidebar do %>
  <div class="side content">
    <%= render :partial => "presets" %>
  </div>
<% end %>

