<% title "New Delivery" %>
<%= render :partial => 'form' %>

<p><%= link_to "Back to List", deliveries_path %></p>

<% content_for :sidebar do %>
  <div class="side content">
    <%= render :partial => "presets" %>
  </div>
<% end %>


