<% form_for @delivery_preset do |f| %>
  <%= f.error_messages %>
  <p>
    <strong><%= @delivery_preset.store.display_name %></strong>
  </p>  
  <table id="line_items">
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <%= render :partial => "delivery_presets/line_item", :collection => @delivery_preset.line_items %>
  </table>
  
  <p><%= f.submit "Save" %></p>
<% end %>
