<h2>Screen Calculator</h2>
<div id="screen_calculation" class="message" style="display: none;"></div>
<% form_remote_tag :url => screen_calculation_path do %>
  <% Item.available.consumable.each do |item| %>
    <p><%= hidden_field_tag :"item[ids][]", {}, {:value => item.id} %><br />
    QTY: <%= text_field_tag :"item[counts][]", {},{:size => 10} %> <%= item.name %></p>
  <% end %>
  <br />
  <%= image_submit_tag "buttons/default/button-calculate.png" %>
<% end %>