<h1>Welcome to Katies Daylight Donuts Online Ordering System</h1>
<p>You have been added as a customer of Katies Daylight Donuts.
  To begin ordering please <%= link_to "create an account", new_user_path %> on our website.</p>