<% title "Schedules" %>

<table class="stripe">
  <thead>
    <tr>
      <th>Date</th>
      <th>Employee</th>
      <th>Start</th>
      <th>End</th>
      <th>Total Hrs.</th>
      <th style="width: 100px">&nbsp;</th>
    </tr>
  </thead>
  <tbody id="schedules">
    <%= render :partial => @schedules %>
  </tbody>
</table>

<% content_for :sidebar do %>
  <%= facebox_button "Add Schedule", new_admin_schedule_path(:date => @date) %>
  <%= render :partial => "shared/schedule" %>
<% end %>