= link_to icon("eye"), admin_user_path(user)
= link_to icon("pencil"), admin_edit_user_path(user)
= link_to icon("circle-cross"), admin_user_path(user), :method => :delete, :confirm => "Are you sure?"
  