- content_for :subnav do
  %ul{:id => "subnavigation", :class => "subsection_tabs"}  
    %li{:class => "tab", :id => 'sub_nav_pending'}
      = link_to_function "Pending (#{@delivery_klass.pending.count})", "reloadDeliveriesGrid('pending',true)"
  
    %li{:class => "tab", :id => 'sub_nav_printed'}
      = link_to_function "Printed (#{@delivery_klass.printed.count})", "reloadDeliveriesGrid('printed',true)"
  

