<% title "Edit Location" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to icon("eye",:alt => "Show", :title => "Show"), location_path(@location) %> |
  <%= link_to "View All", locations_path %>
</p>
